section.page-footer {
	padding: 70px 8% 50px;
	background-color: #111;
	color: #fff;
}
.page-footer .footer-contents {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr 2fr;
	grid-gap: 40px;
}
.footer-contents .footer-col {
	display: flex;
	flex-direction: column;
}
.footer-contents .footer-col .footer-col-title {
	margin-bottom: 20px;
}
.footer-col .footer-col-title h3 {
	font-size: 24px;
	color: #fff;
	text-transform: capitalize;
}
.footer-contents .footer-col .footer-col-desc {
	display: flex;
	flex-direction: column;
}
.footer-col-1 .footer-col-desc p {
	line-height: 1.4;
	color: #ccc;
	margin-bottom: 10px;
}
.footer-col-1 .footer-col-desc span {
	color: #ccc; 
	margin-bottom: 17px;
	display: inline-block;
}
.footer-col-1 .footer-col-desc span:nth-of-type(1) {
	margin-top: 15px;
}
.footer-col-1 .footer-social-media {
	display: flex;
	margin-top: 20px;
}
.footer-col-1 .footer-social-media a {
	text-decoration: none;
	color: #ccc;
	margin-right: 10px;
}
.footer-col-1 .footer-social-media a i {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background-color: #f00;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: all 0.3s;
}
.footer-col-1 .footer-social-media a i:hover {
	background-color: transparent;
	border: 1px solid #f00;
	color: #f00;
}
.footer-col-2 .footer-col-desc a {
	text-decoration: none;
	font-size: 16px;
	color: #ccc; 
	letter-spacing: 1px;
	margin-bottom: 17px;
	transition: 0.3s;
}
.footer-col-2 .footer-col-desc a:hover {
	color: #f00;
}
.footer-col-3 .footer-col-desc p {
	color: #ccc;
	line-height: 1.4;
}
.footer-contents .newsletter textarea {
	width: 100%;
	height: 70px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	resize: none;
	margin-top: 10px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}
.footer-contents .newsletter textarea:focus {
	border-color: #f00;
	outline: none;
	box-shadow: 0 0 10px #f00; 
}
.footer-contents .newsletter .newsletter-btn {
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #f00;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.footer-contents .newsletter .newsletter-btn:hover {
	background-color: #111; 
	border: 1px solid #f00; 
	color: #f00; 
}
.copy-rights {
	width: 100%;
	padding: 30px 8%;
	border-top: 1px solid #333;
}
.copy-rights p {
	color: #ccc; 
	text-align: center;
}
.copy-rights p b {
	color: #f00;
}
@media (min-width: 1400px) {
	.home.active .main-navbar {
		left: calc(calc(100% - 1400px) / 2);
	}
	.home .main-navbar .logo .mainheading-first {
		font-size: 30px;
	}
	.home .main-navbar .logo .mainheading-second {
		font-size: 30px;
	}
}
@media (max-width: 968px) {
	.main-navbar .nav-list li {
		margin: 0px 10px;
	}
	.home .main-navbar .logo .mainheading-first {
		font-size: 25px;
	}
	.home .main-navbar .logo .mainheading-second {
		font-size: 25px;
	}
	.our-team .team-contents {
		max-width: 650px;
		grid-template-columns: repeat(2, 1fr);
	}
	.pricing .pricing-contents {
		grid-template-columns: repeat(2, 1fr);
	}
	.blog .blog-contents {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 868px) {
	.home .main-navbar .hamburger-btn {
		display: block;
		margin-left: 30px;
		z-index: 101;
	}
	.home .main-navbar .nav-list {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #111;
		transition: right 0.3s;
		z-index: 100;
	}
	.home .main-navbar .nav-list.active {
		right: 0;
	}
	.main-navbar .nav-list li {
		margin: 25px 0px 0px;
	}
	.main-navbar .nav-list li:nth-child(1) {
		margin-top: 180px;
	}
	.main-navbar .nav-list li a {
		font-size: 18px;
		letter-spacing: 2px;
	}
	.home .main-navbar .join-us-btn-wrapper {
		margin-left: auto;
	}
	.main-navbar .hamburger-btn.active span:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.main-navbar .hamburger-btn.active span:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.main-navbar .hamburger-btn.active span:nth-child(2) {
		transform: translateX(-30px);
		opacity: 0;
	}
	.facilities .facilities-contents {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px 20px;
	}
	.about .about-contents {
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	.about-contents .about-left-col {
		max-height: 500px;
	}
	.about-contents .about-right-col h1 {
		font-size: 32px;
	}
	.about-right-col .about-states .about-state {
		flex-basis: 100%;
	}
	.services-contents .service-box {
		flex-direction: column;
	}
	.service-box .service-icon-box {
		align-self: center;
	}
	.service-box .service-desc {
		text-align: center;
		margin-left: 0px;
		margin-top: 25px;
	}
	.page-footer .footer-contents {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 668px) {
	.services .services-contents {
		grid-template-columns: 1fr;
	}
	.our-team .team-contents {
		max-width: 300px;
		grid-template-columns: 1fr;
		grid-gap: 20px 0px;
	}
	.pricing .pricing-contents {
		grid-template-columns: 1fr;
	}
	.blog .blog-contents {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 568px) {
	.banner .banner-contents h2 {
		font-size: 20px;
	}
	.banner .banner-contents h1 {
		font-size: 40px;
	}
	.facilities .facilities-contents {
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	.about-contents .about-right-col .about-states {
		flex-direction: column;
	}
	.about-states .about-state-1 {
		margin-right: 0px;
		margin-bottom: 15px;
	}
	section .section-header h1 {
		font-size: 32px;
	}
}