* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/*HOME PAGE*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 15px 30px;
}

nav h1{
  color: white;
  font-weight: 900;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 30px;
  flex-grow: 1.2;
  justify-content: space-between;
}

nav ul li a {
  color: red;
  margin-left: 120px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
}

.auth-buttons button {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.auth-buttons .login-btn {
  margin-left: 190px;
}

.hero {
  background: url('home.png') no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: white;
  max-width: 600px;
  padding: 20px;
}

.content h1 {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.join-btn {
  padding: 12px 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: darkred;
}
