* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}


.team {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  transition: all 1s ease-in-out;
}

.card.left {
  left: 0;
  width: 25%;
  height: 400px;
  z-index: 1;
}

.card.center {
  left: 25%;
  width: 50%;
  height: 600px;
  z-index: 2;
}

.card.right {
  right: 0;
  width: 25%;
  height: 400px;
  z-index: 1;
}

.img-box {
  width: 100%;
  overflow: hidden;
  height: 60%;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 5px solid #333;
}

.text-box {
  padding: 20px;
  height: 40%;
}

.text-box h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-box h3 {
  font-size: 18px;
  font-weight: normal;
  color: #ccc;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 16px;
  color: #bbb;
  line-height: 1.5;
}