::-webkit-scrollbar{
    display: none;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .nav {
    background-color: #000;
    display: flex;
    height: 7.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .logo {
    font-family: "Silkscreen", sans-serif;
    font-size: 34px;
    color: #fff;
    padding-top: 25px;
    padding-left: 40px;
    width: 25%;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .nl {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 50%;
    margin-top: 2.6rem;
    word-spacing: 90px;
    text-align: center;
  }
  
  .lb {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    text-align: center;
    font-size: 16px;
    margin-top: 1.8rem;
  }
  
  .btn {
    width: 26%;
    height: 100%;
    background-color: black;
    border: 2px inset white;
    margin: 15px;
  }
  
  .btn:hover {
    box-shadow: 0px 1px 1px 0px whitesmoke;
    border-top: none;
    border-left: none;
  }
  
  /* Main starts */
  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 7.5rem;
  }
  
  .hph {
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
    position: absolute;
    top: 400px;
    left: 2%;
    z-index: 2;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 12px;
    line-height: 7.5rem;
    word-spacing: 25px;
  }
  
  .btn1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 680px;
    left: 3%;
    background-color: black;
    border: 2px inset white;
    padding: 1.3rem;
    width: 12%;
    font-size: 2rem;
    font-weight: bolder;
    z-index: 2;
  }
  .btn1:hover {
    border: 2px outset white;
  }
  video {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    position: relative;
  }
  
  /* About Us */
  .ap {
    position: relative;
    background: url("black-2561620_1920.jpg") no-repeat center;
    background-size: cover;
    height: 72rem;
    border: 2px solid black;
  }
  
  .aub1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 480px;
    left: 65.5%;
    background-color: black;
    color: white;
    border: 2px inset white;
    padding: 1.1rem;
    width: 9%;
    font-size: 1.1rem;
    z-index: 2;
  }
  .aub1:hover {
    box-shadow: 1px 3px 4px whitesmoke;
  }
  .aup {
    color: whitesmoke;
    position: absolute;
    top: 230px;
    left: 65%;
    width: 34%;
    text-align: justify;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
  .aup1 {
    color: whitesmoke;
    position: absolute;
    top: 600px;
    left: 65%;
    width: 34%;
    line-height: 1.8rem;
    font-size: 1.4rem;
    display: none;
  }
  
  /* Plans */
  .pi {
    position: relative;
    background-color: black;
    height: 72rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pc {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 40%;
    margin: 0 auto;
  }
  
  .box {
    color: white;
    height: 30rem;
    width: 32%;
    padding: 2rem;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background-color: rgba(0, 0, 0, 0.872);
  }
  .box a {
    color: white;
    text-decoration: none;
  }
  .box a:hover {
    text-shadow: 3px 5px 10px whitesmoke;
    text-decoration: underline whitesmoke;
  }
  
  #box1,
  #box2,
  #box3 {
    border-top: 2px solid whitesmoke;
    background-color: transparent;
  }
  
  /* nutrition */
  
  .np {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 72rem;
    transition: background-image 0.5s ease-in-out;
  }
  
  .nutrition-section {
    top: 200px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  h2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2rem;
  }
  
  .container {
    text-align: justify;
    height: 30rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.134);
    color: whitesmoke;
    border-top: 1px solid whitesmoke;
    padding: 15px;
    width: calc(30% - 40px);
    margin: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .container:hover {
    box-shadow: 3px 7px 11px rgba(255, 255, 255, 0.5);
    background-color: #f0f0f0;
    color: #000;
  }
  
  .learn-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline black;
    color: black;
    padding: 15px;
    width: 35%;
    text-align: center;
  }
  
  .learn-more:hover {
    text-shadow: 3px 5px 7px black;
  }
  
  /* footer */
  
  .footer {
    margin: 0;
    height: 50rem;
    background-color: whitesmoke;
  }
  
  .fp {
    color: #000;
    background-color: whitesmoke;
  }
  
  .bp {
    list-style-type: none;
  }
  
  .bp li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .bp li a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  
  .ls {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 285rem;
    left: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3.5rem;
  }
  
  .fh {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    top: 308rem;
    left: 38rem;
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: 20px;
  }
  
  .rs {
    top: 286rem;
    left: 80rem;
    position: absolute;
  }
  
  .sb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 5px;
  }
  
  .es textarea {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
  }
  
  .es button {
    background: none;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .ft {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    color: #000;
    padding: 20px;
    margin-top: 45.7rem;
    font-size: 1.3rem;
    word-spacing: 3px;
    border: 2px solid rgb(236, 236, 236);
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 1600px) {
    main , .np{
      width: 1515px;
    }
    .nl {
      width: 80%;
      margin-top: 2.6rem;
      word-spacing: 75px;
    }
    .container {
      width: calc(45% - 40px);
    }
  }
  
  @media (max-width: 1400px) {
    main , .np{
      width: 1515px;
    }
    .nl {
      width: 80%;
      margin-top: 2.6rem;
      word-spacing: 75px;
    }
    .container {
      width: calc(45% - 40px);
    }
    .hph{
      font-size: 4rem;
      top:300px;
    }
    .btn1 {
      top:600px;
      padding: 1.2rem;
      width: 12%;
      font-size: 1rem;
    }
  
    .ap{
      height: 60rem;
    }
    .aup{
      top: 220px;
      left: 60%;
      width: 35%;
      text-align: justify;
      line-height: 1.7rem;
      font-size: 1.3rem;
    }
  
    .aub1{
      top:520px;
      padding: 1.2rem;
      width: 12%;
      font-size: 1rem;
      left:60%;
    }
  
    .pi{
      height: 60rem;
    }
  
    .pc{
      width: 95%;
    }
  
  
    .nutrition-section{
      top:160px;
      flex-wrap: nowrap;
    }
  
    .container{
      width: calc(40% - 40px);
    }
    main .np{
      height: 60rem;
    }
  
    .footer{
      width: 1515px;
    }
  
    .ls{
      top: 250rem;
      font-size: 1.5rem;
      line-height: 3rem;
    }
  
    .fh{
      top: 270rem;
      left: 30rem;
      font-size: 9rem;
      font-weight: bold;
      letter-spacing: 15px;
    }
    .rs{
      top: 250rem;
      left: 50rem;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      width: calc(100% - 40px);
    }
  
    .rs{
      top: 250rem;
      left: 40rem;
    }
  
    .sb{
      font-size: 1.2rem;
      font-weight: bold;
      word-spacing: 3px;
    }
  }
  
  @media (max-width: 1000px) {
    .np{
      height: 50rem;
    }
  
    .pi{
      height: 62rem;
    }
    .pc {
      flex-direction: column;
      height: 100%;
    }
  
    .nutrition-section{
      top:100px;
    }
  
    .aup{
      line-height: 3rem;
      font-size: 1.8rem;
      left: 55%;
      width: 40%;
    }
  
    .aub1{
      font-size: 1.5rem;
      top:770px;
      left:55%;
    }
  
    .box {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .footer{
      height: 40rem;
    }
    .ls{
      top:230rem;
    }
  
    .rs{
      top: 230rem;
      left: 25rem;
    }
  
    .fh{
      top: 245rem;
      left: 25rem;
      font-size: 7rem;
      letter-spacing: 15px;
    }
  
    .ft{
      margin-left: 20rem;
      background-color: none;
      border: none;
      margin-top: 35rem;
    }
  }
  
  @media (max-width: 800px) {
    .container {
      width: 100%;
    }
    .ap {
      height: 45rem;
  }
  .aup {
    top:90px;
    line-height: 2.5rem;
    left:57%;
  }
  .aub1 {
    font-size: 1.3rem;
    top: 500px;
    left: 56%;
    padding: 1rem;
  }
  .pi {
    height: 60rem;
  }
  
  .p{
    height: 40rem;
  }
  .footer{
    height: 35rem;
  }
  .ls{
    top:210rem;
  }
  .rs{
    top:210rem;
    width: 45rem;
    left:45rem;
  }
  .sb{
    font-size: 1.3rem;
    word-spacing: 1px;
  }
  .fh{
    top:225rem;
  }
  .ft{
    margin-top: 30rem;
  }
  
  }
  
  @media (max-width: 600px) {
    .container {
      width: 95%;
      height: 15rem;
      margin:0 10px;
    }
    .nutrition-section{
      display: flex;
      flex-direction: column;
      top:0px;
      padding: 0px 20px;
    }
    .learn-more{
      display: inline;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      width: 95%;
      height: 15rem;
      margin:0 10px;
    }
    .nutrition-section{
      display: flex;
      flex-direction: column;
      top:0px;
      padding: 0px 20px;
    }
    .learn-more{
      display: inline;
    }
  }